/* RESET */
body, div {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COLOR THEME */
:root {
  --clock-color: #fff;
  --black: rgb(20, 20, 20);
  --blue: #018DED;
  --pin-size: 10px;
  --default-hand-thickness: 2px;
  --seconds-thickness: 1px;
  --default-hand-length: 105px;
  --hour-length: 67.5px;
}

/* --- BACKGROUND --- */
html {
  background: #018DED url(http://unsplash.it/1500/1000?image=881&blur=50) top center;
  background-size: cover;
}

/* --- CLOCK --- */
.clock {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

/* CLOCK FACE STYLING */
.clock-face {
  width: 300px;
  height: 300px;
  border: 2px solid var(--clock-color);
  border-radius: 50%;
  padding: 28px;
  box-shadow: 0 0 10px 0px #010049;
  background: #fff url('clock.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* --- CLOCK HANDS STYLING --- */
.hand {
  height: var(--default-hand-length);
  border: var(--default-hand-thickness) solid var(--black);
  background-color: var(--black);
  border-radius: var(--default-hand-thickness);
  position: absolute;
  left: calc(50% - var(--default-hand-thickness));
  top: calc(50% - var(--default-hand-length));
  transform-origin: 50% 100%;
}

/* HOURS */
.hour-hand {
  height: var(--hour-length);
  top: calc(50% - var(--hour-length));
}

/* SECONDS */
.second-hand {
  border-width: var(--seconds-thickness);
  border-color: var(--blue);
  background-color: var(--blue);
  left: calc(50% - var(--seconds-thickness));
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}

/* MINUTES */
.min-hand {
  transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
}

/* CENTER PIN */
.pin {
  width: var(--pin-size);
  height: var(--pin-size);
  border: 2px solid var(--blue);
  background-color: var(--clock-color);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - var(--pin-size) / 2);
  left: calc(50% - var(--pin-size) / 2);
  z-index: 1;
}
